/* screen - flexibility-efficiency */

.border-class-1 {

}
.border-class-2 {
  border: 1px solid var(--alto);
}
.border-class-3 {
  border: 1px solid var(--mountain-mist);
}
.flexibility-efficiency {
  background-color: var(--white);
  height: 4357px;
  overflow: hidden;
  position: relative;
  width: 1042px;
}
.flexibility-efficiency .body-copy-8ROB5j {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 903px;
}
.flexibility-efficiency .body-copy-SCxiAB {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 903px;
}
.flexibility-efficiency .body-copy-SuXUfK {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 903px;
}
.flexibility-efficiency .body-copy-aD3clP {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 903px;
}
.flexibility-efficiency .body-copy-jdAx62 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 903px;
}
.flexibility-efficiency .conclusion-C61RwL {
  background-color: transparent;
  height: 290px;
  left: 59px;
  position: absolute;
  top: 3945px;
  width: 932px;
}
.flexibility-efficiency .divider-dotted-C61RwL {
  background-color: transparent;
  height: 0px;
  left: 61px;
  position: absolute;
  top: 168px;
  width: 929px;
}
.flexibility-efficiency .divider-dotted-QxM5SU {
  background-color: transparent;
  height: 0px;
  left: 61px;
  position: absolute;
  top: 3892px;
  width: 929px;
}
.flexibility-efficiency .divider-dotted-VMr6Om {
  background-color: transparent;
  height: 0px;
  left: 61px;
  position: absolute;
  top: 1626px;
  width: 929px;
}
.flexibility-efficiency .divider-dotted-mzXdH9 {
  background-color: transparent;
  height: 0px;
  left: 61px;
  position: absolute;
  top: 2902px;
  width: 929px;
}
.flexibility-efficiency .five-ways---your-work-3Bxx2b {
  background-color: transparent;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: -1px;
  white-space: nowrap;
  width: 1774px;
}
.flexibility-efficiency .five-ways---your-work-C44tDP {
  background-color: transparent;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 1774px;
}
.flexibility-efficiency .five-ways---your-work-IYShxb {
  background-color: transparent;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 1774px;
}
.flexibility-efficiency .five-ways---your-work-X1rVr0 {
  background-color: transparent;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 1774px;
}
.flexibility-efficiency .five-ways---your-work-gMZtlt {
  background-color: transparent;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 1774px;
}
.flexibility-efficiency .five-ways---your-work-tO655I {
  background-color: transparent;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 1774px;
}
.flexibility-efficiency .line-4-KBGCks {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: -1px;
  width: 929px;
}
.flexibility-efficiency .line-4-OrBG3r {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: -1px;
  width: 929px;
}
.flexibility-efficiency .line-4-qa0SLk {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: -1px;
  width: 929px;
}
.flexibility-efficiency .line-4-xv1xHo {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: -1px;
  width: 929px;
}
.flexibility-efficiency .message-box-scenario-uxVav3 {
  background-color: var(--aquamarine-2);
  height: 290px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 932px;
}
.flexibility-efficiency .next-triple-chevron-C61RwL {
  background-color: transparent;
  height: 31px;
  left: 962px;
  position: absolute;
  top: 4294px;
  width: 54px;
}
.flexibility-efficiency .novice-vs--pert-users-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 59px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 938px;
  white-space: nowrap;
  width: 897px;
}
.flexibility-efficiency .rectangle-106-C61RwL {
  background-color: rgba(241,241,241,1.0);
  border: 8px solid rgba(204,204,204,1.0);
  height: 535px;
  left: 59px;
  position: absolute;
  top: 3149px;
  width: 922px;
}
.flexibility-efficiency .rectangle-48-C61RwL {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 4px 9px rgba(0,0,0,0.25);;
  height: 4357px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1042px;
}
.flexibility-efficiency .rectangle-61-C61RwL {
  background-color: var(--aquamarine);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1042px;
}
.flexibility-efficiency .rectangle-89-l8o00t {
  background-color: var(--aquamarine);
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 932px;
}
.flexibility-efficiency .screen-sho-2-at-802-1-C61RwL {
  background-color: transparent;
  height: 305px;
  left: 394px;
  position: absolute;
  top: 234px;
  width: 277px;
}
.flexibility-efficiency .section-header-2P4qUJ {
  background-color: transparent;
  height: 26px;
  left: 59px;
  position: absolute;
  top: 2953px;
  width: 1774px;
}
.flexibility-efficiency .section-header-C61RwL {
  background-color: transparent;
  height: 26px;
  left: 59px;
  position: absolute;
  top: 1663px;
  width: 1774px;
}
.flexibility-efficiency .section-header-QxM5SU {
  background-color: transparent;
  height: 26px;
  left: 60px;
  position: absolute;
  top: 1976px;
  width: 1774px;
}
.flexibility-efficiency .section-header-VMr6Om {
  background-color: transparent;
  height: 26px;
  left: 60px;
  position: absolute;
  top: 1744px;
  width: 1774px;
}
.flexibility-efficiency .section-header-mzXdH9 {
  background-color: transparent;
  height: 26px;
  left: 60px;
  position: absolute;
  top: 2216px;
  width: 1774px;
}
.flexibility-efficiency .section-header-qr8e7q {
  background-color: transparent;
  height: 25px;
  left: 60px;
  position: absolute;
  top: 2637px;
  width: 1774px;
}
.flexibility-efficiency .span1-mWojpO {
  color: rgba(102,102,102,1.0);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.00px;
}
.flexibility-efficiency .span2-mWojpO {
  color: rgba(102,102,102,1.0);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
}
.flexibility-efficiency .swipe-keyb-rator-sm-1-C61RwL {
  background-color: transparent;
  height: 400px;
  left: 422px;
  position: absolute;
  top: 3184px;
  width: 185px;
}
.flexibility-efficiency .text-C61RwL {
  background-color: transparent;
  height: 20px;
  left: 554px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 117px;
  width: 256px;
}
.flexibility-efficiency .text-body-paragraph-2P4qUJ {
  background-color: transparent;
  height: 75px;
  left: 59px;
  position: absolute;
  top: 578px;
  width: 903px;
}
.flexibility-efficiency .text-body-paragraph-C61RwL {
  background-color: transparent;
  height: 129px;
  left: 59px;
  position: absolute;
  top: 2989px;
  width: 903px;
}
.flexibility-efficiency .text-body-paragraph-QxM5SU {
  background-color: transparent;
  height: 567px;
  left: 59px;
  position: absolute;
  top: 977px;
  width: 903px;
}
.flexibility-efficiency .text-body-paragraph-VMr6Om {
  background-color: transparent;
  height: 133px;
  left: 59px;
  position: absolute;
  top: 3711px;
  width: 903px;
}
.flexibility-efficiency .text-body-paragraph-mzXdH9 {
  background-color: transparent;
  height: 52px;
  left: 69px;
  position: absolute;
  top: 3607px;
  width: 903px;
}
.flexibility-efficiency .the-visibi--for-users-l8o00t {
  background-color: transparent;
  height: 213px;
  left: 36px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 29px;
  width: 845px;
}
.flexibility-efficiency .ux-tactic--dit-data-1-C61RwL {
  background-color: transparent;
  height: 180px;
  left: 269px;
  position: absolute;
  top: 2682px;
  width: 431px;
}
.flexibility-efficiency .ux-tactic--elements-1-C61RwL {
  background-color: transparent;
  height: 321px;
  left: 266px;
  position: absolute;
  top: 2274px;
  width: 487px;
}
.flexibility-efficiency .ux-tactic--or-email-1-C61RwL {
  background-color: transparent;
  height: 147px;
  left: 290px;
  position: absolute;
  top: 1791px;
  width: 439px;
}
.flexibility-efficiency .ux-tactic--unctions-1-C61RwL {
  background-color: transparent;
  height: 155px;
  left: 280px;
  position: absolute;
  top: 2025px;
  width: 459px;
}
.flexibility-efficiency .vector-Hx8FI2 {
  background-color: transparent;
  height: 37px;
  left: -4px;
  position: absolute;
  top: -3px;
  width: 61px;
}
.flexibility-efficiency .welcome-0O6yUh {
  background-color: transparent;
  height: 96px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 915px;
}
.flexibility-efficiency .welcome-C61RwL {
  background-color: transparent;
  height: 96px;
  left: 47px;
  position: absolute;
  top: 48px;
  width: 915px;
}
.flexibility-efficiency .x-back-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 22px;
  white-space: nowrap;
  width: 52px;
}
.flexibility-efficiency .x0fh5-g613a-t-o8-qvl-1-C61RwL {
  background-color: transparent;
  height: 248px;
  left: 223px;
  position: absolute;
  top: 686px;
  width: 523px;
}
.helveticaneue-bold-mine-shaft-16px {
  color: var(--mine-shaft);
  font-family: 'Helvetica Neue-Bold', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.poppins-bold-chilean-fire-60px {
  color: var(--chilean-fire);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
}
.poppins-medium-black-16px {
  color: var(--black);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.poppins-normal-black-14px {
  color: var(--black);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.poppins-normal-black-18px {
  color: var(--black);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.poppins-normal-black-18px-2 {
  color: var(--black);
  font-family: "Poppins", Helvetica, Arial, serif;
  font-size: 18px;
}
.poppins-normal-granite-gray-24px {
  color: var(--granite-gray);
  font-family: "Poppins", Helvetica, Arial, serif;
  font-size: 24px;
}
.poppins-normal-white-16px {
  color: transparent;
  font-family: "Poppins", Helvetica, Arial, serif;
  font-size: 16px;
}
.poppins-semi-bold-black-24px {
  color: var(--black);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.proximanova-bold-black-40px {
  color: var(--black);
  font-family: 'Proxima Nova-Bold', Helvetica, Arial, serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
:root {
  --alto: rgba(221,221,221,1.0);
  --aquamarine: rgba(120,214,218,1.0);
  --aquamarine-2: rgba(120,214,218,0.2);
  --black: rgba(0,0,0,1.0);
  --chilean-fire: rgba(243,119,6,1.0);
  --granite-gray: rgba(102,102,102,1.0);
  --mine-shaft: rgba(51,51,51,1.0);
  --mountain-mist: rgba(153,153,153,1.0);
  --white: rgba(255,255,255,1.0);
}
