.inject { 
    margin: 0 60px;
    text-align: left;
    box-sizing: border-box;
}

/* ----------Headings---------- */
.intro {
    color: #366062;
    font: 700 80px 'Poppins', sans-serif;
    /* text-align: left; */
    margin: 60px 0 0;
}


.headline {
    color: #f37806;
    font: 700 60px 'Poppins', sans-serif;
    line-height: 24px;
    border-bottom: var(--dashed-border);
    padding-bottom: 30px;
}

.intro-sub {
    font: 700 28px 'Poppins', sans-serif;
    line-height: 24px;
    border-bottom: var(--dashed-border);
    padding-bottom: 20px;
    margin: 0;
    color: #FA7700;
}

.intro-sub-span {
    font: 400 28px 'Poppins', sans-serif;
    line-height: 24px;

    color: var(--true-black);
}

/* ----------Subheading Section---------- */
.notTest {
    margin: 0;
    padding-top: 15px;

}


/* ----------Generic Flexboxes---------- */
.flexBox {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

/* Image Placeholder Divs: to be removed when images are added */
.img {
    width: 541px;
    height: 371px;
    background-color: var(--tux-white);
    border: var(--img-border);
    margin: 30px 0 0 0;
}

/* ----------Traffic Light Image---------- */
.traffic-light {
    margin: 0 auto;
    width: 210px;
    height: 294px;
    background: #323239;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.red-circle {
    background-color: rgba(234, 74, 70, .5);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: 10;
}
.yellow-circle {
    background-color: #ffe45c;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: 10;
}
.blue-circle {
    background-color: #78d6da;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: 10;
}
/* Traffic Light Ends */


/* ----------Actual Images---------- */
.phoneImg{
    /* border: 14px solid #f6f6f6; */
    width: 200px;
    height: 200px;
    background-color: var(--tux-grey);
    box-shadow: var(--common-shadow);
}


/* images end here */

/* ----------Image Caption---------- */

.caption {
    font: 500 8px 'Poppins', sans-serif;
    line-height: 24px;
    /* text-align: right; */
    margin: 0 0 30px 450px;
}

.page-divider {
    width: 100%;
    height: 8px;
    background: #c4c4c4;
    
}

/* ---------- Text ---------- */

.paragraph {
    font: var(--pop-reg);
    line-height: 24px;
}
/* 500 16px */
.thick {
    font: var(--pop-thick);
    line-height: 24px;
}

/* 600 18px */
.semi-bold {
    font: var(--semi-bold);
    line-height: 24px;
}

/* 700  */
.bolder {
    font: var(--pop-bolder);
    line-height: 24px;
}

h3 {
    font: 600 24px 'Poppins', sans-serif;
    line-height: 24px;
}

.reg20 {
    font: 400 20px 'Poppins', sans-serif;
}

.quote {
    font: italic 700 24px 'Noto Serif', serif;
    line-height: 48px;
    margin: 0;
}

.quote-caption {
    font: 400 14px 'Poppins', sans-serif;
    line-height: 21px;
    margin: 0;
}

.with-dash-top {
    border-top: var(--dashed-border);
    padding-top: 40px;
}


/* ----------Color Stickys---------- */
.sticky {
    width: 100%;
    padding: 50px;
    margin-bottom: 70px;
}

.sticky__blue {
    height: 210px;
    background-color: rgba(120,214,218, 0.23);
}
.sticky__yellow {
    height: 320px;
    background-color: rgba(255,228,92,0.2);
}

.yellow-text {
    font: 400 16px 'Poppins', sans-serif;
    color: var(--text-grey);
    padding: 50px 100px 75px 25px;
    line-height: 24px;
}

.sticky-top {
    width: 100%;
}

.sticky-top__blue {
    height: 12px;
    background-color: var(--tux-blue);
}

.sticky-top__yellow {
    height: 20px;
    background-color: #ffe45c;
}

.h3-sticky {
    font: 600 24px 'Poppins', sans-serif;
    color: var(--text-grey);
    margin: 20px 0 0 26px;
    line-height: 24px;
    padding: 8px;
}

.sticky-list {
    font: 400 16px 'Poppins', sans-serif;
    color: var(--text-grey);
    margin: 0 ;
    line-height: 24px;
}

.no-list {
    padding: 0 36px;
}


/* ----------Lesson Objectives Heuristics Intro---------- */
.lesson-objectives {
    font: 600 18px 'Poppins', sans-serif;
    line-height: 100px;
}

.lesson-objectives > li {
    margin-left: 0;
    list-style-type: none;
    border-bottom: var(--input-border);
}

.lesson-objectives > li:last-child {
    border-bottom: none;
}

/* ----------Specific to 1. Visibility of ...---------- */
.examples {
    text-transform: capitalize;
    border-top: var(--dashed-border);
    margin-top: 35px;
    font: var(--pop-bolder);
}

.imgFlexBox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.innerFlexBox {
    display: flex;
    flex-direction: column;
}

.imageP {
    text-align: center;
    margin: 0;
    font: 500 14px 'Poppins', sans-serif;
    line-height: 24px;
}

/* Specific to System/World Match */
#finger {
    text-align: center;
    /* margin: 0 auto; */
    /* padding-top: 50px; */
    
}