/* screen - operable */

.border-class-1 {

}
.border-class-2 {
  border: 1px solid var(--alto);
}
.helveticaneue-bold-mine-shaft-16px {
  color: var(--mine-shaft);
  font-family: 'Helvetica Neue-Bold', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.operable {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 3339px;
  min-width: 1042px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.operable .five-ways---your-work-C44tDP {
  background-color: transparent;
  height: 92.31%;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 99.96%;
}
.operable .five-ways---your-work-IYShxb {
  background-color: transparent;
  height: 92.31%;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 99.96%;
}
.operable .five-ways---your-work-X1rVr0 {
  background-color: transparent;
  height: 92.31%;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 99.96%;
}
.operable .five-ways---your-work-tO655I {
  background-color: transparent;
  height: 92.31%;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 99.96%;
}
.operable .image-caption-C61RwL {
  background-color: transparent;
  height: 29px;
  left: 40px;
  position: absolute;
  top: 572px;
  width: 964px;
}
.operable .line-4-C61RwL {
  background-color: transparent;
  height: 0px;
  left: 3.74%;
  position: absolute;
  top: 33.15%;
  width: 92.32%;
}
.operable .operable-i-image-left-C61RwL {
  background-color: transparent;
  height: 363px;
  left: 332px;
  position: absolute;
  top: 192px;
  width: 184px;
}
.operable .operable-i-mage-right-C61RwL {
  background-color: transparent;
  height: 363px;
  left: 526px;
  position: absolute;
  top: 192px;
  width: 184px;
}
.operable .operable-k-ible-image-C61RwL {
  background-color: transparent;
  height: 702px;
  left: 137px;
  position: absolute;
  top: 1307px;
  width: 768px;
}
.operable .operable-t-rder-image-C61RwL {
  background-color: transparent;
  height: 577px;
  left: 223px;
  position: absolute;
  top: 2173px;
  width: 595px;
}
.operable .rectangle-48-C61RwL {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 4px 9px rgba(0,0,0,0.25);;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.operable .rectangle-61-C61RwL {
  background-color: var(--aquamarine);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.operable .section-header-C61RwL {
  background-color: transparent;
  height: 26px;
  left: 40px;
  position: absolute;
  top: 2927px;
  width: 1890px;
}
.operable .section-header-QxM5SU {
  background-color: transparent;
  height: 26px;
  left: 40px;
  position: absolute;
  top: 766px;
  width: 1890px;
}
.operable .section-header-VMr6Om {
  background-color: transparent;
  height: 26px;
  left: 40px;
  position: absolute;
  top: 1178px;
  width: 1890px;
}
.operable .section-header-mzXdH9 {
  background-color: transparent;
  height: 26px;
  left: 40px;
  position: absolute;
  top: 2109px;
  width: 1890px;
}
.operable .text-C61RwL {
  background-color: transparent;
  height: 20px;
  left: 554px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 117px;
  width: 256px;
}
.operable .text-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 809px;
  width: 964px;
}
.operable .the-visibi--for-users-C61RwL {
  background-color: transparent;
  height: auto;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 2976px;
  width: 964px;
}
.operable .the-visibi--for-users-QxM5SU {
  background-color: transparent;
  height: 107px;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 617px;
  width: 964px;
}
.operable .the-visibi--for-users-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 1225px;
  width: 964px;
}
.operable .the-visibi--for-users-mWuPKx {
  background-color: transparent;
  color: var(--black);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 100%;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 100%;
}
.operable .the-visibi--for-users-mzXdH9 {
  background-color: transparent;
  height: auto;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 2790px;
  width: 964px;
}
.operable .vector-C61RwL {
  background-color: transparent;
  height: 37px;
  left: 945px;
  position: absolute;
  top: 3212px;
  width: 60px;
}
.operable .welcome-C61RwL {
  background-color: transparent;
  height: 96px;
  left: 40px;
  position: absolute;
  top: 71px;
  width: 964px;
}
.operable .x-back-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 22px;
  white-space: nowrap;
  width: 52px;
}
.operable .x2-operable-0O6yUh {
  background-color: transparent;
  height: 100%;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 100%;
}
.poppins-bold-casal-48px {
  color: var(--casal);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}
.poppins-bold-chilean-fire-60px {
  color: var(--chilean-fire);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
}
.poppins-medium-black-16px {
  color: var(--black);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.poppins-normal-black-14px {
  color: var(--black);
  font-family: "Poppins", Helvetica, Arial, serif;
  font-size: 14px;
}
.poppins-normal-black-18px {
  color: var(--black);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.poppins-normal-black-18px-2 {
  color: var(--black);
  font-family: "Poppins", Helvetica, Arial, serif;
  font-size: 18px;
}
.poppins-normal-white-28px {
  color: transparent;
  font-family: "Poppins", Helvetica, Arial, serif;
  font-size: 28px;
}
.poppins-semi-bold-black-24px {
  color: var(--black);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.proximanova-bold-black-40px {
  color: var(--black);
  font-family: 'Proxima Nova-Bold', Helvetica, Arial, serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
:root {
  --alto: rgba(221,221,221,1.0);
  --aquamarine: rgba(120,214,218,1.0);
  --black: rgba(0,0,0,1.0);
  --casal: rgba(54,96,98,1.0);
  --chilean-fire: rgba(243,119,6,1.0);
  --mine-shaft: rgba(51,51,51,1.0);
  --mountain-mist: rgba(153,153,153,1.0);
  --onyx: rgba(58,58,58,1.0);
  --white: rgba(255,255,255,1.0);
}
