.modal {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.invite {
    font: 500 36px 'Poppins', sans-serif ;
    line-height: 54px ;
    color: var(--text-grey) ;
}

.flexBox {
    display: flex !important;
	justify-content: center !important;
    align-items: center !important;
    background-color: transparent !important;
}

.inviteBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 425px;
    height: 510px;
    background-color: var(--true-white);
    box-shadow: var(--common-shadow);
    border-radius: 10px;
    margin-top: 120px;
}

.group {
    font: 400 20px 'Poppins', sans-serif;
    
}

.groupName {
    font: 400 20px 'Poppins', sans-serif;
    color: #1b9ba0;
}

.label {
    font: 700 16px 'Poppins', sans-serif;
    color: #333;
}

button {
    border: none;
	width: 280px;
	padding: 12px 0;
	margin: 17px 8px;
	border-radius: 5px;
	font: var(--pop-bold);
	line-height: 27px;
	color: var(--true-white);
	background-color: var(--enable-btn) !important;
	cursor: pointer;

    
}

button:hover {
    background: #236C69 !important;
}

button:active {
    box-shadow: var(--btn-active-shadow) !important;
}