/* screen - aesthetic-minimilism */

.aesthetic-minimilism {
  background-color: var(--white);
  height: 3194px;
  overflow: hidden;
  position: relative;
  width: 1042px;
}
.aesthetic-minimilism .body-copy-8ROB5j {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 903px;
}
.aesthetic-minimilism .body-copy-SCxiAB {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 903px;
}
.aesthetic-minimilism .body-copy-SuXUfK {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 903px;
}
.aesthetic-minimilism .body-copy-jdAx62 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 742px;
}
.aesthetic-minimilism .divider-dotted-C61RwL {
  background-color: transparent;
  height: 0px;
  left: 61px;
  position: absolute;
  top: 179px;
  width: 929px;
}
.aesthetic-minimilism .heuristic--ample-80-1-C61RwL {
  background-color: transparent;
  height: 425px;
  left: 218px;
  position: absolute;
  top: 255px;
  width: 598px;
}
.aesthetic-minimilism .image-caption-C61RwL {
  background-color: transparent;
  height: 82px;
  left: 201px;
  position: absolute;
  top: 706px;
  width: 661px;
}
.aesthetic-minimilism .img22-1-C61RwL {
  background-color: transparent;
  height: 409px;
  left: 194px;
  position: absolute;
  top: 1303px;
  width: 654px;
}
.aesthetic-minimilism .line-4-xv1xHo {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: -1px;
  width: 929px;
}
.aesthetic-minimilism .next-triple-chevron-C61RwL {
  background-color: transparent;
  height: 31px;
  left: 968px;
  position: absolute;
  top: 3127px;
  width: 54px;
}
.aesthetic-minimilism .quote-DGgCa2 {
  background-color: transparent;
  color: var(--black);
  font-family: "Noto Serif", Helvetica, Arial, serif;
  font-size: 24px;
  height: 283px;
  left: 0px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 937px;
}
.aesthetic-minimilism .rectangle-48-C61RwL {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 4px 9px rgba(0,0,0,0.25);;
  height: 3194px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1042px;
}
.aesthetic-minimilism .rectangle-61-C61RwL {
  background-color: var(--aquamarine);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1042px;
}
.aesthetic-minimilism .section-header-C61RwL {
  background-color: transparent;
  height: 26px;
  left: 65px;
  position: absolute;
  top: 1765px;
  width: 1774px;
}
.aesthetic-minimilism .section-header-VMr6Om {
  background-color: transparent;
  height: 26px;
  left: 66px;
  position: absolute;
  top: 1744px;
  width: 903px;
}
.aesthetic-minimilism .span1-OXpQxt {
  color: rgba(0,0,0,1.0);
  font-family: 'Noto Serif', Helvetica, Arial, serif;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 0.00px;
  line-height: 44.7px;
}
.aesthetic-minimilism .span1-SQKVtq {
  color: rgba(0,0,0,1.0);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 700;
}
.aesthetic-minimilism .span1-Yh9UKS {
  color: rgba(0,0,0,1.0);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.aesthetic-minimilism .span1-t71XpP {
  color: rgba(0,0,0,1.0);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.aesthetic-minimilism .span2-OXpQxt {
  color: rgba(0,0,0,1.0);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
}
.aesthetic-minimilism .span2-SQKVtq {
  color: rgba(0,0,0,1.0);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 400;
}
.aesthetic-minimilism .span2-Yh9UKS {
  color: rgba(0,0,0,1.0);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.aesthetic-minimilism .span2-t71XpP {
  color: rgba(0,0,0,1.0);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.aesthetic-minimilism .text-C61RwL {
  background-color: transparent;
  height: 20px;
  left: 554px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 117px;
  width: 256px;
}
.aesthetic-minimilism .text-body-paragraph-C61RwL {
  background-color: transparent;
  height: 29px;
  left: 115px;
  position: absolute;
  top: 2373px;
  width: 742px;
}
.aesthetic-minimilism .text-body-paragraph-QxM5SU {
  background-color: transparent;
  height: 192px;
  left: 68px;
  position: absolute;
  top: 2455px;
  width: 903px;
}
.aesthetic-minimilism .text-body-paragraph-VMr6Om {
  background-color: transparent;
  height: 192px;
  left: 68px;
  position: absolute;
  top: 830px;
  width: 903px;
}
.aesthetic-minimilism .text-body-paragraph-mzXdH9 {
  background-color: transparent;
  height: 192px;
  left: 68px;
  position: absolute;
  top: 1823px;
  width: 903px;
}
.aesthetic-minimilism .text-quote-C61RwL {
  background-color: transparent;
  height: 283px;
  left: 68px;
  position: absolute;
  top: 967px;
  width: 937px;
}
.aesthetic-minimilism .the-visibi--for-users-mWuPKx {
  background-color: transparent;
  color: var(--black);
  font-family: "Poppins", Helvetica, Arial, serif;
  font-size: 14px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 661px;
}
.aesthetic-minimilism .vector-Hx8FI2 {
  background-color: transparent;
  height: 37px;
  left: -4px;
  position: absolute;
  top: -3px;
  width: 61px;
}
.aesthetic-minimilism .ways-to-en-ist-design-X1rVr0 {
  background-color: transparent;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 1774px;
}
.aesthetic-minimilism .welcome-0O6yUh {
  background-color: transparent;
  height: 96px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 915px;
}
.aesthetic-minimilism .welcome-C61RwL {
  background-color: transparent;
  height: 96px;
  left: 51px;
  position: absolute;
  top: 61px;
  width: 915px;
}
.aesthetic-minimilism .x-back-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 22px;
  white-space: nowrap;
  width: 52px;
}
.aesthetic-minimilism .x1v8x5u-fvk--ywo-ffa-1-C61RwL {
  background-color: transparent;
  height: 410px;
  left: 146px;
  position: absolute;
  top: 2673px;
  width: 729px;
}
.aesthetic-minimilism .x1w-as-pgdc--t-xe-ca-1-C61RwL {
  background-color: transparent;
  height: 403px;
  left: 111px;
  position: absolute;
  top: 1970px;
  width: 764px;
}
.border-class-1 {

}
.border-class-2 {
  border: 1px solid var(--alto);
}
.border-class-3 {
  border: 1px solid var(--mountain-mist);
}
.helveticaneue-bold-mine-shaft-16px {
  color: var(--mine-shaft);
  font-family: 'Helvetica Neue-Bold', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.poppins-bold-chilean-fire-60px {
  color: var(--chilean-fire);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
}
.poppins-medium-black-16px {
  color: var(--black);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.poppins-normal-black-14px {
  color: var(--black);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.poppins-normal-black-18px {
  color: var(--black);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.poppins-normal-black-18px-2 {
  color: var(--black);
  font-family: "Poppins", Helvetica, Arial, serif;
  font-size: 18px;
}
.poppins-normal-granite-gray-24px {
  color: var(--granite-gray);
  font-family: "Poppins", Helvetica, Arial, serif;
  font-size: 24px;
}
.poppins-normal-white-16px {
  color: transparent;
  font-family: "Poppins", Helvetica, Arial, serif;
  font-size: 16px;
}
.poppins-semi-bold-black-24px {
  color: var(--black);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.proximanova-bold-black-40px {
  color: var(--black);
  font-family: 'Proxima Nova-Bold', Helvetica, Arial, serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
:root {
  --alto: rgba(221,221,221,1.0);
  --aquamarine: rgba(120,214,218,1.0);
  --aquamarine-2: rgba(120,214,218,0.2);
  --black: rgba(0,0,0,1.0);
  --chilean-fire: rgba(243,119,6,1.0);
  --granite-gray: rgba(102,102,102,1.0);
  --mine-shaft: rgba(51,51,51,1.0);
  --mountain-mist: rgba(153,153,153,1.0);
  --white: rgba(255,255,255,1.0);
}
