/* screen - error-prevention */

.border-class-1 {

}
.border-class-2 {
  border: 1px solid var(--alto);
}
.border-class-3 {
  border: 1px solid var(--mountain-mist);
}
.error-prevention {
  background-color: var(--white);
  height: 3310px;
  overflow: hidden;
  position: relative;
  width: 1042px;
}
.error-prevention .activity-intro-text-C61RwL {
  background-color: transparent;
  height: 182px;
  left: 71px;
  position: absolute;
  top: 522px;
  width: 826px;
}
.error-prevention .amazonsearch-1-C61RwL {
  background-color: transparent;
  height: 236px;
  left: 162px;
  position: absolute;
  top: 2930px;
  width: 720px;
}
.error-prevention .body-copy-8ROB5j {
  background-color: transparent;
  color: var(--black);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 903px;
}
.error-prevention .body-copy-SCxiAB {
  background-color: transparent;
  color: var(--black);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 903px;
}
.error-prevention .body-copy-SuXUfK {
  background-color: transparent;
  color: var(--black);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 903px;
}
.error-prevention .body-copy-jdAx62 {
  background-color: transparent;
  color: var(--black);
  font-family: "Poppins", Helvetica, Arial, serif;
  font-size: 16px;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 903px;
}
.error-prevention .divider-dotted-C61RwL {
  background-color: transparent;
  height: 0px;
  left: 61px;
  position: absolute;
  top: 169px;
  width: 929px;
}
.error-prevention .divider-dotted-VMr6Om {
  background-color: transparent;
  height: 0px;
  left: 56px;
  position: absolute;
  top: 1179px;
  width: 929px;
}
.error-prevention .five-ways---your-work-C44tDP {
  background-color: transparent;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 755px;
}
.error-prevention .five-ways---your-work-IYShxb {
  background-color: transparent;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 755px;
}
.error-prevention .five-ways---your-work-X1rVr0 {
  background-color: transparent;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 755px;
}
.error-prevention .line-4-OrBG3r {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: -1px;
  width: 929px;
}
.error-prevention .line-4-xv1xHo {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: -1px;
  width: 929px;
}
.error-prevention .next-triple-chevron-C61RwL {
  background-color: transparent;
  height: 31px;
  left: 945px;
  position: absolute;
  top: 3215px;
  width: 54px;
}
.error-prevention .rectangle-48-C61RwL {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 4px 9px rgba(0,0,0,0.25);;
  height: 3310px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1042px;
}
.error-prevention .rectangle-61-C61RwL {
  background-color: var(--aquamarine);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1042px;
}
.error-prevention .screen-sho--at-1142-1-C61RwL {
  background-color: transparent;
  height: 294px;
  left: 259px;
  position: absolute;
  top: 224px;
  width: 549px;
}
.error-prevention .section-header-C61RwL {
  background-color: transparent;
  height: 27px;
  left: 71px;
  position: absolute;
  top: 1207px;
  width: 756px;
}
.error-prevention .section-header-VMr6Om {
  background-color: transparent;
  height: 27px;
  left: 70px;
  position: absolute;
  top: 1536px;
  width: 756px;
}
.error-prevention .section-header-mzXdH9 {
  background-color: transparent;
  height: 27px;
  left: 71px;
  position: absolute;
  top: 2563px;
  width: 756px;
}
.error-prevention .southwest-1-C61RwL {
  background-color: transparent;
  height: 380px;
  left: 149px;
  position: absolute;
  top: 2118px;
  width: 720px;
}
.error-prevention .span1-xxmNLl {
  color: rgba(0,0,0,1.0);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 400;
}
.error-prevention .span10-xxmNLl {
  color: rgba(0,0,0,1.0);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 300;
}
.error-prevention .span2-xxmNLl {
  color: rgba(0,0,0,1.0);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 300;
}
.error-prevention .span3-xxmNLl {
  color: rgba(0,0,0,1.0);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 700;
}
.error-prevention .span4-xxmNLl {
  color: rgba(0,0,0,1.0);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 300;
}
.error-prevention .span5-xxmNLl {
  color: rgba(0,0,0,1.0);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 400;
}
.error-prevention .span6-xxmNLl {
  color: rgba(0,0,0,1.0);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 700;
}
.error-prevention .span7-xxmNLl {
  color: rgba(0,0,0,1.0);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 400;
}
.error-prevention .span8-xxmNLl {
  color: rgba(0,0,0,1.0);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 700;
}
.error-prevention .span9-xxmNLl {
  color: rgba(0,0,0,1.0);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 400;
}
.error-prevention .text-C61RwL {
  background-color: transparent;
  height: 20px;
  left: 554px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 117px;
  width: 256px;
}
.error-prevention .text-body-paragraph-C61RwL {
  background-color: transparent;
  height: 594px;
  left: 71px;
  position: absolute;
  top: 546px;
  width: 903px;
}
.error-prevention .text-body-paragraph-QxM5SU {
  background-color: transparent;
  height: 248px;
  left: 71px;
  position: absolute;
  top: 2617px;
  width: 903px;
}
.error-prevention .text-body-paragraph-VMr6Om {
  background-color: transparent;
  height: 261px;
  left: 71px;
  position: absolute;
  top: 1247px;
  width: 903px;
}
.error-prevention .text-body-paragraph-mzXdH9 {
  background-color: transparent;
  height: 480px;
  left: 70px;
  position: absolute;
  top: 1573px;
  width: 903px;
}
.error-prevention .vector-Hx8FI2 {
  background-color: transparent;
  height: 37px;
  left: -4px;
  position: absolute;
  top: -3px;
  width: 61px;
}
.error-prevention .welcome-0O6yUh {
  background-color: transparent;
  height: 96px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 915px;
}
.error-prevention .welcome-C61RwL {
  background-color: transparent;
  height: 96px;
  left: 37px;
  position: absolute;
  top: 74px;
  width: 915px;
}
.error-prevention .x-back-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 22px;
  white-space: nowrap;
  width: 52px;
}
.helveticaneue-bold-mine-shaft-16px {
  color: var(--mine-shaft);
  font-family: 'Helvetica Neue-Bold', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.poppins-bold-chilean-fire-60px {
  color: var(--chilean-fire);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
}
.poppins-medium-black-16px {
  color: var(--black);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.poppins-normal-black-14px {
  color: var(--black);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.poppins-normal-black-18px {
  color: var(--black);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.poppins-normal-black-18px-2 {
  color: var(--black);
  font-family: "Poppins", Helvetica, Arial, serif;
  font-size: 18px;
}
.poppins-normal-granite-gray-24px {
  color: var(--granite-gray);
  font-family: "Poppins", Helvetica, Arial, serif;
  font-size: 24px;
}
.poppins-normal-white-16px {
  color: transparent;
  font-family: "Poppins", Helvetica, Arial, serif;
  font-size: 16px;
}
.poppins-semi-bold-black-24px {
  color: var(--black);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.proximanova-bold-black-40px {
  color: var(--black);
  font-family: 'Proxima Nova-Bold', Helvetica, Arial, serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
:root {
  --alto: rgba(221,221,221,1.0);
  --aquamarine: rgba(120,214,218,1.0);
  --aquamarine-2: rgba(120,214,218,0.2);
  --black: rgba(0,0,0,1.0);
  --chilean-fire: rgba(243,119,6,1.0);
  --granite-gray: rgba(102,102,102,1.0);
  --mine-shaft: rgba(51,51,51,1.0);
  --mountain-mist: rgba(153,153,153,1.0);
  --white: rgba(255,255,255,1.0);
}
