/* screen - help-documentation-cont */

.border-class-1 {

}
.border-class-2 {
  border: 1px solid var(--alto);
}
.border-class-3 {
  border: 1px solid var(--mountain-mist);
}
.help-documentation-cont {
  background-color: var(--white);
  height: 3547px;
  overflow: hidden;
  position: relative;
  width: 1042px;
}
.help-documentation-cont .addevent-1-C61RwL {
  background-color: transparent;
  height: 294px;
  left: 202px;
  position: absolute;
  top: 190px;
  width: 645px;
}
.help-documentation-cont .body-copy-8ROB5j {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 903px;
}
.help-documentation-cont .body-copy-AkjVFn {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 903px;
}
.help-documentation-cont .body-copy-OF6xV9 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 903px;
}
.help-documentation-cont .body-copy-SCxiAB {
  background-color: transparent;
  color: var(--black);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 915px;
}
.help-documentation-cont .body-copy-SuXUfK {
  background-color: transparent;
  color: var(--black);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 894px;
}
.help-documentation-cont .body-copy-aD3clP {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 903px;
}
.help-documentation-cont .body-copy-jdAx62 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 903px;
}
.help-documentation-cont .conclusion-C61RwL {
  background-color: transparent;
  height: 388px;
  left: 51px;
  position: absolute;
  top: 2938px;
  width: 934px;
}
.help-documentation-cont .dovetail-1-C61RwL {
  background-color: transparent;
  height: 232px;
  left: 106px;
  position: absolute;
  top: 1701px;
  width: 804px;
}
.help-documentation-cont .guidance-f-ctive-help-X1rVr0 {
  background-color: transparent;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 1762px;
}
.help-documentation-cont .message-box-scenario-uxVav3 {
  background-color: var(--aquamarine-2);
  height: 388px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 934px;
}
.help-documentation-cont .mind-1-C61RwL {
  background-color: transparent;
  height: 536px;
  left: 384px;
  position: absolute;
  top: 2279px;
  width: 248px;
}
.help-documentation-cont .next-triple-chevron-C61RwL {
  background-color: transparent;
  height: 31px;
  left: 962px;
  position: absolute;
  top: 3475px;
  width: 54px;
}
.help-documentation-cont .rectangle-48-C61RwL {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 4px 9px rgba(0,0,0,0.25);;
  height: 3547px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1042px;
}
.help-documentation-cont .rectangle-61-C61RwL {
  background-color: var(--aquamarine);
  height: 9px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1042px;
}
.help-documentation-cont .rectangle-89-l8o00t {
  background-color: var(--aquamarine);
  height: 26px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 934px;
}
.help-documentation-cont .section-header-C61RwL {
  background-color: transparent;
  height: 26px;
  left: 71px;
  position: absolute;
  top: 1426px;
  width: 1762px;
}
.help-documentation-cont .span1-53Lcuj {
  color: rgba(0,0,0,1.0);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.help-documentation-cont .span1-BHHr0j {
  color: rgba(0,0,0,1.0);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.help-documentation-cont .span1-SxnzLU {
  color: rgba(0,0,0,1.0);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.help-documentation-cont .span1-mWojpO {
  color: rgba(102,102,102,1.0);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.00px;
}
.help-documentation-cont .span2-53Lcuj {
  color: rgba(0,0,0,1.0);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.help-documentation-cont .span2-BHHr0j {
  color: rgba(0,0,0,1.0);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.help-documentation-cont .span2-SxnzLU {
  color: rgba(0,0,0,1.0);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.help-documentation-cont .span2-mWojpO {
  color: rgba(102,102,102,1.0);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
}
.help-documentation-cont .span3-53Lcuj {
  color: rgba(0,0,0,1.0);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.help-documentation-cont .span4-53Lcuj {
  color: rgba(0,0,0,1.0);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.help-documentation-cont .text-C61RwL {
  background-color: transparent;
  height: 20px;
  left: 554px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 117px;
  width: 256px;
}
.help-documentation-cont .text-body-paragraph-2P4qUJ {
  background-color: transparent;
  height: 151px;
  left: 71px;
  position: absolute;
  top: 818px;
  width: 903px;
}
.help-documentation-cont .text-body-paragraph-C61RwL {
  background-color: transparent;
  height: 93px;
  left: 74px;
  position: absolute;
  top: 76px;
  width: 903px;
}
.help-documentation-cont .text-body-paragraph-J1YQmd {
  background-color: transparent;
  height: 123px;
  left: 71px;
  position: absolute;
  top: 2105px;
  width: 903px;
}
.help-documentation-cont .text-body-paragraph-QxM5SU {
  background-color: transparent;
  height: 218px;
  left: 74px;
  position: absolute;
  top: 555px;
  width: 903px;
}
.help-documentation-cont .text-body-paragraph-VMr6Om {
  background-color: transparent;
  height: 82px;
  left: 71px;
  position: absolute;
  top: 1962px;
  width: 894px;
}
.help-documentation-cont .text-body-paragraph-mzXdH9 {
  background-color: transparent;
  height: 82px;
  left: 71px;
  position: absolute;
  top: 2827px;
  width: 915px;
}
.help-documentation-cont .text-body-paragraph-qr8e7q {
  background-color: transparent;
  height: 184px;
  left: 71px;
  position: absolute;
  top: 1464px;
  width: 903px;
}
.help-documentation-cont .text-image-subtext-C61RwL {
  background-color: transparent;
  height: 82px;
  left: 195px;
  position: absolute;
  top: 1291px;
  width: 661px;
}
.help-documentation-cont .the-visibi--for-users-KvLq2Y {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 661px;
}
.help-documentation-cont .the-visibi--for-users-l8o00t {
  background-color: transparent;
  height: 285px;
  left: 36px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 39px;
  width: 847px;
}
.help-documentation-cont .vector-Hx8FI2 {
  background-color: transparent;
  height: 37px;
  left: -4px;
  position: absolute;
  top: -3px;
  width: 61px;
}
.help-documentation-cont .word-1-C61RwL {
  background-color: transparent;
  height: 256px;
  left: 83px;
  position: absolute;
  top: 1014px;
  width: 877px;
}
.help-documentation-cont .x-back-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 22px;
  white-space: nowrap;
  width: 52px;
}
.helveticaneue-bold-mine-shaft-16px {
  color: var(--mine-shaft);
  font-family: 'Helvetica Neue-Bold', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.poppins-bold-chilean-fire-60px {
  color: var(--chilean-fire);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
}
.poppins-medium-black-16px {
  color: var(--black);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.poppins-normal-black-14px {
  color: var(--black);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.poppins-normal-black-18px {
  color: var(--black);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.poppins-normal-black-18px-2 {
  color: var(--black);
  font-family: "Poppins", Helvetica, Arial, serif;
  font-size: 18px;
}
.poppins-normal-granite-gray-24px {
  color: var(--granite-gray);
  font-family: "Poppins", Helvetica, Arial, serif;
  font-size: 24px;
}
.poppins-normal-white-16px {
  color: transparent;
  font-family: "Poppins", Helvetica, Arial, serif;
  font-size: 16px;
}
.poppins-semi-bold-black-24px {
  color: var(--black);
  font-family: 'Poppins', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.proximanova-bold-black-40px {
  color: var(--black);
  font-family: 'Proxima Nova-Bold', Helvetica, Arial, serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
:root {
  --alto: rgba(221,221,221,1.0);
  --aquamarine: rgba(120,214,218,1.0);
  --aquamarine-2: rgba(120,214,218,0.2);
  --black: rgba(0,0,0,1.0);
  --chilean-fire: rgba(243,119,6,1.0);
  --granite-gray: rgba(102,102,102,1.0);
  --mine-shaft: rgba(51,51,51,1.0);
  --mountain-mist: rgba(153,153,153,1.0);
  --white: rgba(255,255,255,1.0);
}
