@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@700&display=swap');


/* Variables */
html {
  /* Fonts */
  --table: 16px 'Poppins', sans-serif;
  --pop-reg: 400 18px 'Poppins', sans-serif;
  --pop-ital: italic 400 18px 'Poppins', sans-serif;
  --pop-thick: 500 18px 'Poppins', sans-serif;
  --pop-semi-bold: 600 18px 'Poppins', sans-serif;
  --pop-bolder: 700 18px 'Poppins', sans-serif;
  --pop-bold: 800 18px 'Poppins', sans-serif;
  --roboto-bold: 700 20px 'Roboto', sans-serif;
  --answer-btn: 500 14px 'Poppins', sans-serif;
  

  /* Colors */
  --tux-blue: #78D6DA;
  --tux-yellow: #f0eb7e;
  --tux-red: #EA4A46;
  --tux-grey: #323239;
  --tux-white: #f1f2eb;
  --tux-black: #17171e;
  --link-text: #538284;
  --text-grey: #666666;
  --extraLg-text: #366062;
  --enable-btn: #3c8582;
  --present: #1b9ba0;
  --future: #999999;
  --true-white: #ffffff;
  --true-black: #000000;
  --overview-orange: #f37806;

  /* Buttons */
  --primary-btn-padding: 14px 46px;
  --primary-def-btn-color: #333333;
  --primary-hov-btn-color: rgba(51,51,51,.75);
  --primary-disabled-btn-color: #cccccc;
  --disabled-btn-text-color: #999999;
  --second-def-btn-color: rgba(136,136,136,.75);
  --second-hov-btn-color: #a6a6a6;
  --second-disabled-btn-color: #a6a6a6;

  /* Borders */
  --solid-border: 1px solid #dddddd;
  --input-border: 2px solid#999999;
  --login-border: 1px solid #BBBBBB;
  --img-border: 5px solid #eeeeee;
  --dashed-border: 2px dashed rgba(51,51,51,.75);
  --nav-border: 1px solid #cccccc;
  
  
  
  /* Alerts/Notifications/Feedback */
  /* --notification-color: #36C5F0;
  --warning-color: #ecb22e;
  --alert-color: #ff0000; */
  
  /* Inputs not in use anywhere as of 1/29*/
  /* --background-input: #eeeeee; */
  
  /* Shadows --may still be in use in InjectHTMLCSS*/
  --common-shadow: 0px 4px 9px rgba(0,0,0, 0.25);
  --btn-active-shadow: inset 2px 2px 2px rgba(0,0,0,.25), 
  inset -3px -3px 2px rgba(0,0,0,.25);

}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
